<% content_for :title, t(:reset_password) -%>

<p>
  <%= render 'message' %>
</p>

<%= bootstrap_form_tag url:reset_password_index_path do |f| %>
  <%= f.text_field :email, :class => 'text_input', label: t(:email) %>
  <%= f.submit t(:send_email), class: "btn btn-success" %> &nbsp; &mdash; &nbsp;
  <%= link_to t(:back), new_session_path %>
<% end %>
