<% content_for :title, t(:create_admin) -%>

<h1><%= content_for :title %></h1>
<p>
  <%= t :no_administrator_yet %>
</p>
<%= form_for @user, :url => { :action => 'create' } do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name, t(:username) %>:<br>
    <%= f.text_field :name, { :class => 'text_input' } %>
  </p>
  <p>
    <%= f.label :email %>:<br>
    <%= f.text_field :email, { :class => 'text_input' } %>
  </p>
  <p>
    <%= label_tag :password %>:<br>
    <%= f.password_field :password, { :class => 'text_input' } %>
  </p>
  <p>
    <%= label_tag :confirm_password %>:<br>
    <%= f.password_field :password_confirmation, { :class => 'text_input' } %>
  </p>
  <p>
    <%= f.submit t(:create_admin_account) %>
  </p>
<% end %>
