<% content_for :title, t(:create_admin) -%>

<p>
  <%= t :no_administrator_yet %>
</p>
<%= bootstrap_form_for @user, :url => { :action => 'create' } do |f| %>
  <%= f.text_field :name, label: t(:username) %>
  <%= f.text_field :email, label: t(:email) %>
  <%= f.password_field :password, label: t(:password) %>
  <%= f.password_field :password_confirmation, label: t(:confirm_password) %>
  <%= f.submit t(:create_admin_account), class: "btn btn-success" %>
<% end %>
