<% content_for :title, @folder.name -%>

<% unless @folder.is_root? -%>
<p>
  <ol class="breadcrumb">
    <%= breadcrumbs(@folder) %>
    <li><%= @folder.name %></li>
  </ol>
</p>
<% end -%>
<p class="toolbar">
  <% if current_user.can_create(@folder) -%>
    <%= link_to fa_icon("plus", text: t(:create_a_new_folder)), new_folder_folder_path(@folder),  class: "btn btn-success" %>
    <%= link_to fa_icon("upload", text: t(:upload_a_file)), new_folder_file_path(@folder),  class: "btn btn-success" %>  
  <% end -%>
  <% if current_user.member_of_admins? -%>
    <%= link_to fa_icon("lock", text: t(:permissions)), "#",  class: "btn btn-default permissions_link" %>
  <% end -%>
    <%= link_to fa_icon("clipboard", text: t(:clipboard)), "#",  class: "btn btn-default clipboard_link" %>  
</p>
<div id="files_and_folders">
  <table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= t :name %></th>
      <th><%= t :size %></th>
      <th><%= t :date_modified %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% unless @folder.is_root? -%>
    <tr class="<%= cycle('even','odd') %>">
      <td><%= fa_icon("folder-o") %></td>
      <td class="file_name"><%= link_to fa_icon("level-up", text: t(:up)), @folder.parent, :title => @folder.parent.name %></td>
      <td class="file_size">--</td>
      <td class="file_modified">--</td>
      <td></td>
    </tr>
  <% end -%>
  <% @folder.children.each do |folder| -%>
    <% if current_user.can_read(folder) -%>
    <tr>
      <td><%= fa_icon("folder-o") %></td>
      <td class="file_name"><%= link_to folder.name, folder %></td>
      <td class="file_size">--</td>
      <td class="file_modified"><%= l folder.updated_at, :format => :short %></td>
      <td>
      <% if current_user.can_update(folder) -%>
        <%= link_to fa_icon("pencil"), edit_folder_path(folder),  class: "btn btn-warning btn-sm", title: t(:edit) %>
      <% end -%>
      <% if current_user.can_delete(folder) -%>
        <%= link_to fa_icon("trash"), folder,  class: "btn btn-danger btn-sm",  :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>        
      <% end -%>
        <%= link_to fa_icon("clipboard"),
          { :controller => :clipboard, :action => :create, :id => folder.id, :type => 'folder', :folder_id => @folder, :authenticity_token => form_authenticity_token },
          :method => :post, :title => t(:add_to_clipboard), class: "btn btn-default btn-sm"
        %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
  <% @folder.user_files.each do |file| -%>
    <% if current_user.can_read(@folder) -%>
    <tr>
      <td><%= file_icon(file) %></td>
      <td class="file_name"><%= link_to file.attachment_file_name, file_path(file), :title => "#{t(:download)} #{file.attachment_file_name}" %></td>
      <td class="file_size"><%= number_to_human_size(file.attachment_file_size, :locale => I18n.locale) %></td>
      <td class="file_modified"><%= l file.updated_at, :format => :short %></td>
      <td>

      <% if current_user.can_update(file.folder) -%>
        <%= link_to fa_icon("pencil"), edit_file_path(file),  class: "btn btn-warning btn-sm", title: t(:edit) %>
      <% end -%>
      <% if current_user.can_delete(file.folder) -%>
        <%= link_to fa_icon("trash"), file_path(file), :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item), class: "btn btn-danger btn-sm" %>
      <% end -%>
        <%= link_to fa_icon("clipboard"),
          { :controller => :clipboard, :action => :create, :id => file.id, :type => 'file', :folder_id => @folder, :authenticity_token => form_authenticity_token },
          :method => :post, :title => t(:add_to_clipboard), class: "btn btn-default btn-sm"
        %>
        <%= link_to fa_icon("share-alt"), new_file_share_link_path(file), :title => t(:share), class: "btn btn-default btn-sm" %>
      </td>
    </tr>
    <% end -%>
  <% end -%>
  </tbody>
  </table>
</div>
<% if current_user.member_of_admins? -%>
<div id="permissions" style="display:none;">
  <%= render 'permissions/form' %>
</div>
<% end -%>
<div id="clipboard" style="display:none;">
  <%= render 'clipboard/show' %>
</div>
