<%= form_for @group do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>:<br>
    <%= f.text_field :name, { :class => 'text_input' } %>
  </p>
  <p>
    <%= f.submit t(:save) %> &nbsp; &mdash; &nbsp;
    <%= link_to t(:back), groups_url %>
  </p>
<% end %>
