<% content_for :title, t(:groups) -%>

<p class="toolbar">
  <%= link_to fa_icon("users", text: t(:create_a_new_group)), new_group_path,  class: "btn btn-success" %>
</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= t :name %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @groups.each do |group| -%>
  <tr class="<%= cycle('even','odd') %>">
  <% if group.admins_group? -%>
    <td><%= fa_icon("users", class: "text-muted") %></td>
    <td class="group_name text-muted"><%= group.name %></td>
    <td></td>
  <% else -%>
    <td><%= fa_icon("users") %></td>
    <td class="group_name"><%= group.name %></td>
    <td>
      <%= link_to fa_icon("pencil"), edit_group_path(group),  class: "btn btn-warning btn-sm", title: t(:edit) %>
      <%= link_to fa_icon("trash"), group_path(group),  class: "btn btn-danger btn-sm",  :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>
    </td>
  <% end -%>
  </tr>
<% end -%>
  </tbody>
</table>
