<%= bootstrap_form_for @user do |f| %>
  <%= f.error_messages %>
  <% unless @user.new_record? -%>
    <%= f.text_field :name, label: t(:name) %>
  <% end -%>
    <%= f.text_field :email, label: t(:email) %>
  <% unless @user.new_record? -%>
    <%= f.password_field :password, label: t(:password) %>
    <%= f.password_field :password_confirmation, label: t(:password_confirmation) %>
  <% end -%>
  <% if signed_in? && current_user.member_of_admins? -%>
    <%= f.form_group :group_ids, label: { text: t(:member_of_these_groups) } do %>
      <% if @user.is_admin && @user == current_user %>
         <%= hidden_field_tag 'user[group_ids][]', Group.admins_group.id %>      
      <% end %>
      <% Group.all.each do |group| %>
        <div class="checkbox <%= "disabled" if @user.is_admin && @user == current_user && group.name == "Admins" %>">
          <label for="<%= dom_id(group) %>"><%= check_box_tag "user[group_ids][]", group.id, @user.group_ids.include?(group.id), id: dom_id(group), disabled: @user.is_admin && @user == current_user && group.name == "Admins" %><%= group.name %></label>
        </div>                    
      <% end %>
    <% end %>
  <% end -%>
    <%= f.primary t(:save) %>
  <% if @user != current_user -%>
    &nbsp; &mdash; &nbsp;
    <%= link_to t(:back), users_url %>
  <% end -%>
  </p>
<% end %>
