<% content_for :title, t(:users) -%>

<p class="toolbar">
  <%= link_to fa_icon("user-plus", text: t(:create_a_new_user)), new_user_path,  class: "btn btn-success" %>
</p>

<h3><%= t :active_users %></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= t :name %></th>
      <th><%= t :email %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |user| -%>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= fa_icon :user %></td>
    <td class="user_name"><%= user.name %></td>
    <td class="user_email"><%= user.email %></td>
    <td>    
      <%= link_to fa_icon("pencil"), edit_user_path(user),  class: "btn btn-warning btn-sm", title: t(:edit) %>
      <% unless user.is_admin -%>
        <%= link_to fa_icon("trash"), user_path(user),  class: "btn btn-danger btn-sm",  :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>
      <% end -%>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>

<% unless @new_users.blank? -%>
<h3><%= t :invited_users %></h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th><%= t :email %></th>
      <th><%= t :expiration_date %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% @new_users.each do |user| -%>
  <tr class="<%= cycle('even','odd') %>">
    <td><%= fa_icon :user %></td>
    <td class="user_email"><%= user.email %></td>
    <td class="user_expiration">
    <% if user.signup_token_expires_at > Time.now -%>
      <%= l user.signup_token_expires_at, :format => :very_short %>
    <% else -%>
      <span class="red"><%= l user.signup_token_expires_at, :format => :very_short %></span>
    <% end -%>
    </td>
    <td>
      <%= link_to fa_icon("calendar-plus-o"), extend_user_path(user),  class: "btn btn-default btn-sm", :method => :put, :title => t(:extend_expiration_date) %>
    <% unless user.is_admin -%>
      <%= link_to fa_icon("trash"), user_path(user),  class: "btn btn-danger btn-sm",  :method => :delete, :data => { :confirm => t(:are_you_sure) }, :title => t(:delete_item) %>
    <% end -%>
    </td>
  </tr>
<% end -%>
  </tbody>
</table>
<% end -%>
