<% content_for :title, 'Rename file' %>

<h1><%= content_for :title %></h1>
<% if flash[:notice] %>
<p class="notice">
	<%= flash[:notice] %>
</p>
<% end %>
<%= form_for @file, :url => { :action => 'update' } do |f| %>
	<%= f.error_messages %>
	<p>
		<%= f.label :name %>:<br>
		<%= f.text_field :attachment_file_name %>
	</p>
	<p>
		<%= f.submit 'Save' %> &nbsp; &mdash; &nbsp;
		<%= link_to 'Back', folder_url(@folder) %>
	</p>
<% end %>
