<% content_for :title, t(:upload_file) -%>

<%= form_for [@target_folder, @file], :url => { :action => 'create' } do |f| %>
  <p>
    <%= hidden_field_tag :target_folder_id, @target_folder.id %>
    <%= file_field_tag :attachment, :multiple => true, :name => 'user_file[attachment]' %>
  </p>
  <div id="progress">
  </div>
  <p>
    <%= link_to t(:back), @target_folder %>
  </p>
<% end %>

<script id="template-upload" type="text/x-tmpl">
<div>
  <%= fa_icon 'ban', :class => 'failed', :style => 'display:none;' %>
  <%= fa_icon 'check', :class => 'tick', :style => 'display:none;' %>
  <span class="status">Uploading <strong>{%= o.name %}</strong>...</span>
  <span class="exists_message red" style="display:none;"><strong><%= t(:exists_already) %></strong></span>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
      0%
    </div>
  </div>  
</div>
</script>
